body {
  font-family: "Roboto", sans-serif;
  color: black;
}

.secondary-text {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  color: black;
  margin-top: -10px;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-size: 55px;
}

h2 {
  font-family: "Archivo Black", sans-serif;
}

h3 {
  font-family: "Archivo Black", sans-serif;
  margin-top: 8px;
  color: black;
}
