body {
  /* padding-top: 95px;
  min-height: 1000px;
  padding-left: 150px;
  padding-right: 115px; */
}



.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}


img {
  width: 100%;
  height: auto;
}

.work-img {
  width: 600px;

}
